body {
    background-image: url("bckg.jpg");

}

table {
    font-family: Arial, sans-serif;

}

td {

}

a, a:active, a:visited {
    color: #0000ff;
}

.title {
    font-size: 72px;
    text-align: center;
    /*font-style: italic;*/
    font-family: "Courier New", monospace;
    font-weight: 600;
}

select, input {
    width: 100%;
    /*height: 30px;*/
    border-radius: 8px;
    padding: 4px;
    margin-top: 5px;
    box-sizing: border-box;
}

select {
    border-color: grey;
}

label {
    margin-bottom: 30px;
    display: block;
}

#timetable {
    border-collapse: collapse;
    background-color: white;
}

#timetable td {
    border: 1px solid grey;
    padding: 4px;
}

#timetable td:first-child {
    border-left: none;
    text-align: right;
    /*font-style: italic;*/
}

#timetable td:last-child {
    border-right: none;
}

.day-row {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.day-header {
    text-align: center;
    font-weight: bold;
}
#settingsTable tr{
    height: 40px;
}

#settingsTable td:last-child {
    text-align: center;
}

.leftcol div {
          margin-bottom: 20px;
}